html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-bright-yellow: hsl(71, 73%, 54%);
    --secondary-light-gray: hsl(204, 43%, 93%);
    --secondary-grayish-blue: hsl(218, 22%, 67%);
}

body {
    background-color: var(--secondary-light-gray);
    font-family: "Karla", sans-serif;
    margin: 0;
    padding: 4rem 0;
    min-height: 100vh;
}

h3 {
    margin: 0 0 1rem 0;
}

p {
    margin: 0;
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 0.875rem;
    color: var(--secondary-light-gray);
    opacity: 0.75;
    line-height: 1.5;
}

#grid {
    display: grid;
    max-width: 310px;
    margin: 0 auto;
}

.grid-square {
    width: 100%;
    padding: 1.5rem;
}

#grid .one {
    background-color: #fff;
}

#grid .two {
    background-color: var(--primary-cyan);
}

#grid .three {
    background-color: hsla(179, 62%, 43%, 0.7);
}

.one {
    border-radius: 0.5rem 0.5rem 0 0;
}

.three {
    border-radius: 0 0 0.5rem 0.5rem;
}

.one h3 {
    color: var(--primary-cyan);
}

.two h3,
.three h3 {
    color: #fff;
}

.one .green-text {
    color: var(--primary-bright-yellow);
}

.one p {
    font-size: 0.875rem;
    line-height: 2;
    color: hsla(218, 22%, 67%, 0.5);
}

.two p {
    color: #fff;
}

.two .pricing {
    color: #fff;
    font-size: 2rem;
}

.two .pricing span {
    font-size: 1rem;
    color: #fff;
    opacity: 0.5;
    vertical-align: middle;
}

.grid-square button {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--primary-bright-yellow);
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* DESKTOP LAYOUT */
@media (min-width: 38rem) {
    #grid {
        display: grid;
        max-width: 620px;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-square.one {
        padding: 2.5rem;
    }

    .grid-square.two,
    .grid-square.three {
        padding: 2rem;
    }

    .grid-col-span-2 {
        grid-column: span 2;
    }

    .two {
        border-radius: 0 0 0 0.5rem;
    }

    .three {
        border-radius: 0 0 0.5rem 0;
    }
}
